<h1>These are 20 of the books that I have read</h1>

<% client = Goodreads::Client.new(api_key: ENV['GOODREADS_API_KEY'],api_secret: ENV['GOODREADS_API_SECRET']) %>

<p><%#= client.configuration %></p>

<%# request_token = OAuth::Consumer.new(
  Goodreads.configuration[ENV['GOODREADS_API_KEY']],
  Goodreads.configuration[ENV['GOODREADS_API_SECRET']],
  site: "http://www.goodreads.com"
).get_request_token %>


<p><%#= request_token.authorize_url %></p>

<%#= access_token = request_token.get_access_token %>
<%# goodreads_client = Goodreads.new(oauth_token: access_token)%>

<% shelf = client.shelf('6112518', 'read') %>

<% shelf.books.each do |item| %>
    <p><%= item.fetch("book").fetch("title") %></p>
<% end %>
